<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="./assets/favicon/favicon-32x32.png" sizes="32x32"/>
    <link rel="apple-touch-icon" href="./assets/favicon/apple-icon.png"/>
    <meta name="description" content="The MindInterest is a psychological consultation application in which a person can book an appointment with a psychologist.
This can be done by scheduling a session (voice or video conferencing) or in-app chat with the psychologist."/>
    <meta name="keywords" content="psychology, Mental health, doctor, consult, consultation, psychologist"/>
    <meta name="author" content="Aransiola Ayodele"/>
    <meta name="author" content="Leom"/>
    <meta name="author" content="The MindInterest"/>
    <title>The MindInterest</title>


    <link rel="stylesheet" href="./assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/all.min.css">
    <link rel="stylesheet" href="./assets/css/animate.css">
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/owl.min.css">
    <link rel="stylesheet" href="./assets/css/jquery-ui.min.css">
    <link rel="stylesheet" href="./assets/css/magnific-popup.css">
    <link rel="stylesheet" href="./assets/css/flaticon.css">
    <link rel="stylesheet" href="./assets/css/main.css">

    <link rel="shortcut icon" href="./assets/favicon/favicon.ico" type="image/x-icon">


</head>

<body>
<!--============= ScrollToTop Section Starts Here =============-->
<div class="preloader">
    <div class="preloader-inner">
        <div class="preloader-icon">
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<a href="#0" class="scrollToTop"><i class="fas fa-angle-up"></i></a>
<div class="overlay"></div>
<!--============= ScrollToTop Section Ends Here =============-->


<!--============= Coming Section Starts Here =============-->
<div class="coming-soon bg_img" data-background="./assets/images/coming-soon.jpg">
    <div class="container">
        <div class="coming-wrapper">
            <h1 class="title">COMING SOON</h1>
            <ul class="countdown">
                <li>
                    <h3 class="c-title"><span class="days">00</span></h3>
                    <p class="days_text">days</p>
                </li>
                <li>
                    <h3 class="c-title"><span class="hours">00</span></h3>
                    <p class="hours_text">hours</p>
                </li>
                <li>
                    <h3 class="c-title"><span class="minutes">00</span></h3>
                    <p class="minu_text">minutes</p>
                </li>
                <li>
                    <h3 class="c-title"><span class="seconds">00</span></h3>
                    <p class="seco_text">seconds</p>
                </li>
            </ul>
            <form class="notify-form" method="post" action="/">
                <input type="email" name="email" placeholder="Get Notified by Email" required>
                <button type="submit">Notify Me</button>
            </form>
        </div>
    </div>
</div>
<!--============= Coming Section Ends Here =============-->

<script src="./assets/js/jquery-3.3.1.min.js"></script>
<script src="./assets/js/modernizr-3.6.0.min.js"></script>
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/magnific-popup.min.js"></script>
<script src="./assets/js/jquery-ui.min.js"></script>
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/waypoints.js"></script>
<script src="./assets/js/nice-select.js"></script>
<script src="./assets/js/owl.min.js"></script>
<script src="./assets/js/counterup.min.js"></script>
<script src="./assets/js/paroller.js"></script>
<script src="./assets/js/countdown.js"></script>
<script src="./assets/js/main.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    $(document).ready(function () {

        //Load Popup on success
        // const Toast = Swal.mixin({
        //   toast: true,
        //   position: 'top-end',
        //   showConfirmButton: false,
        //   timer: 3000,
        //   timerProgressBar: true,
        //   didOpen: (toast) => {
        //     toast.addEventListener('mouseenter', Swal.stopTimer)
        //     toast.addEventListener('mouseleave', Swal.resumeTimer)
        //   }
        // })
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        let sucess = params.success


        if (sucess === "true") {
            alert("successful")
            // Toast.fire({
            //   icon: 'success',
            //   title: 'Registration Successful'
            // })
            setTimeout(() => {
                location.replace('/');
            }, 3000)
        }


        //Count Down JAva Script
        $('.countdown').countdown({
            date: '11/24/2022 00:00:00',
            offset: +2,
            day: 'Day',
            days: 'Days'
        });
    })
</script>

</body>

</html>